/* -------- Typography -------- */
$font-Light: NunitoSans-Light, sans-serif;
$font-SemiBold: NunitoSans-SemiBold, sans-serif;
$font-ExtraBold: NunitoSans-ExtraBold, sans-serif;

$font-small: 14px;
$font-medium: 16px;
/* -------- Typography -------- */

$radius: 0.5rem;