@font-face {
  font-family: "NunitoSans-ExtraBold";
  font-weight: 800;
  src : url("./../../fonts/NunitoSans/NunitoSans-ExtraBold.ttf");
}
@font-face {
  font-family: "NunitoSans-Light";
  font-weight: 300;
  src : url("./../../fonts/NunitoSans/NunitoSans-Light.ttf");
}
@font-face {
  font-family: "NunitoSans-SemiBold";
  font-weight: 600;
  src : url("./../../fonts/NunitoSans/NunitoSans-SemiBold.ttf");
}