@import "fonts";
@import "constans";

* {
  box-sizing: border-box;
}
body[data-theme='Dark'] {
  --colors-text: hsl(0, 0%, 100%);
  --colors-bg: hsl(207, 26%, 17%);
  --colors-ui-base: hsl(209, 23%, 22%);

  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}
body[data-theme='Light'] {
  --colors-text: hsl(200, 15%, 8%);
  --colors-bg: hsl(0, 0%, 98%);
  --colors-ui-base: hsl(0, 0%, 100%);

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
body {
  margin: 0;
  font-family: $font-Light;
  color: var(--colors-text);
  background-color: var(--colors-bg);
}

*[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 10px;
}
.main {
  margin-top: 50px;
}
